<template name="changepassword">
    <div class="container">
        <div class="row">
            <div class="bs-change" data-example-id="contextual-panels">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group col-md-5">
                                    <label for="sel1">Enter Current Password</label>
                                    <input id="currentpass" type="text" class="form-control" placeholder="Current Password">
                                </div>
                            </div>
                           <div class="col-md-12">
                                <div class="form-group col-md-5">
                                    <label for="sel1">Enter New Password</label>
                                    <input id="newpass" type="text" class="form-control" placeholder="New Password">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group col-md-5">
                                    <label for="sel1">Re-Enter New Password</label>
                                    <input id="renewpass" type="text" class="form-control" placeholder="Re-New Password">
                                </div>
                            </div>
                        </div>
                      
                        <div class="row" style="padding-top: 15px">
                            <div class="col-md-12">
                                <a id="changepass" class="btn btn-warning pull-right">Submit</a>
                                <a id="btnback" class="btn btn-default">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>