<template name="manageservice">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="bs-newservice" data-example-id="contextual-panels">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <form id="newservice">
                                <div class="form-group">
                                    <label for="name">Service</label>
                                    <input type="text" class="form-control" id="name" placeholder="Service Name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Description</label>
                                    <input type="text" class="form-control" id="description" placeholder="Email">
                                </div>
                                <div style="display: none;" class="form-group">
                                    <label for="password">ClientID-HiddenField</label>
                                    <input value="{{this.clientid}}" type="text" class="form-control" id="clientid" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="bs-servicelist" data-example-id="contextual-panels">
                    <div class="panel panel-success">
                        <div class="panel-body">
                            {{#if isEdit}}
                            <form id="editservice">
                                <div class="form-group">
                                    <label for="name">Service Name</label>
                                    <input value="{{editingServiceRow.name}}" type="text" class="form-control" id="name" placeholder="Service Name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input value="{{editingServiceRow.email}}" type="email" class="form-control" id="email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input value="{{editingServiceRow.password}}" type="text" class="form-control" id="password" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                            {{else}}
                            {{> reactiveTable settings=settings}}    
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>